li, h2, h1, div {
    padding: 5px;
    margin: 5px;
    /* background: white; */
    color: white;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  body {
    background-image: url('https://cdn.hipwallpaper.com/m/77/6/tmdMDO.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }